@model PhoneCatalog.Models.clients

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{

    <p>@Html.HiddenFor(x => x.Number)</p>
    <p>Фамилия: @Html.TextBoxFor(x => x.Surname)</p>
    <p>Имя: @Html.TextBoxFor(x => x.Firstname)</p>
    <p>Отчество: @Html.TextBoxFor(x => x.Middlename)</p>
    <p>Дата рождения: @Html.TextBoxFor(x => x.Bday)</p>

    <input type="submit" value="Редактировать" />

}